html{
  position:relative; 
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,body{
  margin:0;
  padding:0;
}


/*Area Body*/
.jumbotron{
	min-height: 500px;
	background-color: #0099cc;
}

.jumbotron div{
	margin-top: 200px;
	margin-bottom: 300px;
}

.container-fluid{
	padding-top: 50px;
	min-height: 600px;
}


/*Area Footer*/

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:50px;
    background:#000000;
}

footer p{
	color: #aaa;
	font-size: 1em;
}